body {
    background-color: #c3d4e5;
}

.card-white {
     background-color: rgb(239, 205, 244);
     text-align: center;
     width: 70%;
     padding: 16px;
     margin: 16px auto;
     border-radius: 8px;
     box-shadow: 0px 0px 20px 20px rgb(69 93 255 / 23%);
    
}


.button-blue{
    background-color: rgba(30, 75, 181, 0.674);
    border: 1px;
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.button-blue:hover{
    background-color: aliceblue;
    color: rgb(88, 147, 198);
}
ul>li {
    display: inline;

}
ul{
    padding: 0%;
}

i {
    color: black;
}